<div class="todo-item d-flex justify-content-between">
  <div>
  <div class="checker"><span class=""><input type="checkbox"></span></div>
    <span>{{title}}</span>
      <a href="javascript:void(0);" class=" remove-todo-item"><i style="margin-left: 10px;" class="fa-solid fa-xmark text-danger"></i></a>

  </div>
    <div>
    <span class="">{{due_date}}</span>
    </div>
</div>