<div class="row d-flex justify-content-center mt-5">
    <div class="col-10 col-md-6 col-lg-5  bg-dark text-light  py-3 px-5 rounded">
      <h2 class="text-center">Login</h2>
      <form class="login-form">
          <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Enter Your Username">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Your Password">
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-warning">Login</button>
          </div>
      </form>
    <p>Don't have an account <a href="/signup"> Sign up here!</a></p>
    </div>
</div>