<div class="row d-flex justify-content-center mt-5">
    <div class="col-10 col-md-6 col-lg-5  bg-dark text-light  py-3 px-5 rounded">
      <h2 class="text-center">Sign Up</h2>
      <form class="signup-form">
        
          <div class="mb-2">
            <label for="firstName" class="form-label">First Name</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="Enter Your First Name">
          </div>

          <div class="mb-2">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="lastName" class="form-control" id="lastName" placeholder="Enter Your Last Name">
          </div>
          
          <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-signup" placeholder="Enter Your Username">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Enter Your Password">
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-warning">Sign Up</button>
          </div>
      </form>
      <p>Already have an account <a href="/login"> Login!</a></p>
    </div>
</div>